/*body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.theContainerOfColors{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theContainerOfColors label{
  border-radius: 10px;



}


h1{
  margin: 50px;
  font-size: 3rem;
}
.someColorPicker{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(118, 112, 112);
  border-radius: 24px;
  margin-bottom: 25px;
  transition: 0.25s ease-in-out;
}

.someColorPicker p{ 
  color: rgb(218, 218, 218);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  text-align: center;
}


label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input{
  width: max-content;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid rgb(194, 194, 194);
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

} */
body{
  background-color: rgba(7, 7, 7, 0.721);
}



.to-do-list{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: azure;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button{
  background-color: rgb(5, 182, 162);
}
.add-button:hover{
  background-color: rgb(5, 81, 66);
}
.delete-button{
  background-color: rgb(251, 8, 8);
}
.delete-button:hover{
  background-color: rgb(117, 14, 14);
}
.move-button{
  background-color: rgb(0, 153, 255);
}
.move-button:hover{
  background-color: rgb(1, 68, 112);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px rgba(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: rgba(18, 18, 18, 0.658);
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: aliceblue;
  margin-bottom: 10px;
  border: 3px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;

}




























